<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>pruebas</servlet-name>
        <servlet-class>servlet.PruebasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>servlet.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarRespuestaPqrs</servlet-name>
        <servlet-class>servlet.RegistrarRespuestaPqrs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioRegistrar</servlet-name>
        <servlet-class>servlet.FuncionarioRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioActualizar</servlet-name>
        <servlet-class>servlet.FuncionarioActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PqrsRegistar</servlet-name>
        <servlet-class>servlet.PqrsRegistar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTipoSolicitud</servlet-name>
        <servlet-class>servlet.RegistrarTipoSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarTipoSolicitud</servlet-name>
        <servlet-class>servlet.ActualizarTipoSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoUsuarioRegistrar</servlet-name>
        <servlet-class>servlet.TipoUsuarioRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoUsuarioActualizar</servlet-name>
        <servlet-class>servlet.TipoUsuarioActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MotivoSolicitudRegistrar</servlet-name>
        <servlet-class>servlet.MotivoSolicitudRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MotivoSolicitudActializar</servlet-name>
        <servlet-class>servlet.MotivoSolicitudActializar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportePqrs</servlet-name>
        <servlet-class>servlet.ReportePqrs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pruebas</servlet-name>
        <url-pattern>/pruebas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarRespuestaPqrs</servlet-name>
        <url-pattern>/registrar-respuesta-pqrs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioRegistrar</servlet-name>
        <url-pattern>/registrar-funcionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioActualizar</servlet-name>
        <url-pattern>/actualizar-funcionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PqrsRegistar</servlet-name>
        <url-pattern>/registrar-pqrs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrar-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTipoSolicitud</servlet-name>
        <url-pattern>/registrar-tipo-solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarTipoSolicitud</servlet-name>
        <url-pattern>/actualizar-tipo-solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoUsuarioRegistrar</servlet-name>
        <url-pattern>/registrar-tipo-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoUsuarioActualizar</servlet-name>
        <url-pattern>/actualizar-tipo-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MotivoSolicitudRegistrar</servlet-name>
        <url-pattern>/registrar-motivo-solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MotivoSolicitudActializar</servlet-name>
        <url-pattern>/actualizar-motivo-solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportePqrs</servlet-name>
        <url-pattern>/generar-reporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
